* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #FFFFFF;
}
.cabecera {
    background: #3B536B;
    border: 0.2em solid #C0DFD9;
    padding: 0.6em;
    margin: 0.3em auto;
    width: 80%;
    display: block;
}
.titulo {
    padding: 0.6em;
    font-family: 'fredoka One';
    text-align: center;
    color: #FFFFFF;
}
.principal {
    background: #E9ECE5;
    width: 80%;
    margin: 0.3em auto;
    padding: 0.6em;
}
.bienvenida {
    margin: auto;
    padding: 1em;
    width: 100%;
    display: block
}
.intro {
    font-family: 'Amaranth';
    text-align: center;
    font-size: 1.2em;
}
.paso1 {
    border: 0.2em dotted #3B536B;
    background: rgba(172, 208, 240, 0.822);
    margin: auto;
    width: 70%;
    display: block;
    padding: 1em; 

}
#indicacion1 {
    font-family: 'Red Hat Display';
    margin-bottom: 0.3em;
}
#string1 {
    font-size: 1.3em;
    font-family: 'Amaranth';
    width: 100%;
    color: #333333;
    border: 0.1em #6F8075;
}
.paso2 {
    border: 0.2em dotted #3B536B;
    background: rgba(172, 208, 240, 0.822);
    margin: 10px auto;
    padding: 1em;
    width: 70%;
    display: grid;
    grid-template-columns: 10% 15% 15% 20% 15% 15% 10%;
    gap: 0.2em;
}
#indicacion2 {
    font-family: 'Red Hat Display';
    grid-column: 1/5;
    margin-bottom: 0.3em;
}
#offset {
    grid-column: 5/7;
    font-family: 'Amaranth';
    font-size: 1em;
    color: #3B536B;
}
.paso3 {
    border: 0.2em dotted #3B536B;
    background: rgba(172, 208, 240, 0.822);
    margin: auto;
    padding: 1em;
    width: 70%;
    display: grid;
    grid-template-columns: 10% 10% 21.5% 7% 21.5% 5% 20%;
    gap: 0.2em;
}
#indicacion3 {
    font-family: 'Red Hat Display';
    grid-column: 1/4;
    margin-bottom: 0.3em;
}
#click1 {
    grid-column: 5/6;
    font-family: 'Amaranth';
}
#click2 {
    grid-column: 7/8;
    font-family: 'Amaranth';
}
.nuevotexto {
    border: 0.2em dotted #3B536B;
    background: rgba(172, 208, 240, 0.822);
    margin: 10px auto;
    padding: 1em;
    width: 70%;
    display: block;
    padding: 1em;
}
#resultado {
    font-family: 'Red Hat Display';
    margin-bottom: 0.3em;
}
#string2 {
    font-size: 1.3em;
    font-family: 'Amaranth';
    width: 100%;
    color: #333333;
}
.pie {
    border: 0.2em solid gray;
    background: #3B536B;
    margin: 0.3em auto;
    width: 80%;
    padding: 0.6em;
    }
#cita {
    font-family: 'Amaranth';
    color: #FFFFFF;
}